node_modules/
jspm_packages/

dist/
backend/dist/
build/
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
pids/
*.pid
*.seed
*.pid.lock

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
